h2{
    color:rgb(9, 234, 136)
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section{
    border: 1px solid greenyellow;
    display: flex;
    align-items: center;
    gap: 10px;
}
