img{
    width: 40%;
    background-color: black;
    margin-bottom: 20px;
    display: block;
    border-radius: 40%;
    border: 1px solid rgb(255, 128, 1);
}

.carousel-inner{
    background-color: rgb(241, 247, 208);

}
body{
    background-color: blanchedalmond;
}
section{
    background-color: rgb(163, 166, 90) ;
    border: 10px solid rgb(163, 166, 90);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
    margin: 30px auto 10px;
    height: 200px;
}
textarea{
    background-color:rgb(255, 128, 1)
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: row;
}